@using Ticketing.Apps.Channels.Areas.Account.Models.Home
@model AccountModel
@{
    ViewBag.Title = "My Account";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <partial name="_Messages" />

			<div class="">
				<h3>My Account</h3>
				<p>
					<strong>@Model.Name</strong> (#@Model.CustomerReference)
					<partial name="Components/_CustomerTags" model="Model.AppliedTags" />
				</p>
				<p>Welcome to your ticketing account.</p>
			</div>
            <hr />
        </div>
    </div>

    <div class="row">
		<div class="col-12">
			@{
				var brkpts = new[] { 1, 3, 4, 5 };
				int i = 0;
			}

			<div class="card-deck align-items-stretch">
				@foreach(var action in Model.AvailableActions)
				{
					@await Html.PartialAsync("_Action", action)
					<card-deck-responsive-break i="@i++" breakpoints="@brkpts" />
				}
			</div>
		</div>
    </div>
</div>